<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          <strong>Transforming Urban Spaces.</strong><br>
          I bridge the gap between technical civil engineering and strategic urban planning. My focus is on designing efficient, scalable infrastructure.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          <strong>Technical Proficiency:</strong><br>
          Expertise in structural modeling and urban design using <strong>Revit</strong>, <strong>AutoCAD</strong>, and modern architectural workflows.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 30px;">
          <a href="https://www.linkedin.com/in/mjk1175/" class="btn btn-lg btn-outline" target="_blank" rel="noopener noreferrer" style="margin: 10px; display: inline-flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24" style="margin-right: 10px;"><path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
            LinkedIn Profile
          </a>
          
          <a href="{{ site.url }}{{ site.baseurl }}/Jaseer_Khan_CV.pdf" class="btn btn-lg btn-outline" download style="margin: 10px; display: inline-flex; align-items: center;">
            <i class="fa fa-download" style="margin-right: 10px;"></i> Download CV (PDF)
          </a>
      </div>
    </div>
  </div>
</section>