<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          <strong>Transforming Urban Spaces.</strong><br>
          I bridge the gap between technical civil engineering and strategic urban planning. My focus is on designing efficient, scalable infrastructure that serves the future of transportation and sustainable development.
        </p>
      </div>
      
      <div class="col-lg-4">
        <p>
          <strong>Technical Proficiency:</strong><br>
          Expertise in structural modeling and urban design using <strong>Revit</strong>, <strong>AutoCAD</strong>, and modern architectural workflows. Aspiring to lead sustainable infrastructure projects in high-growth environments.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 40px;">
        <a href="https://www.linkedin.com/in/mjk1175/" class="btn btn-lg btn-outline" target="_blank" rel="noopener noreferrer" style="margin: 10px;">
          <i class="fa fa-fw fa-linkedin-square"></i> LinkedIn Profile
        </a>
        <a href="{{ site.url }}{{ site.baseurl }}/Jaseer_Khan_CV.pdf" class="btn btn-lg btn-outline" download style="margin: 10px;">
          <i class="fa fa-fw fa-download"></i> Download CV (PDF)
        </a>
      </div>
    </div>
  </div>
</section>